* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    color: white;
}

.wrapper {
    min-height: 100%;
    background-color: #1C1C1C;
}

ul {
    margin: 0;
    padding: 0;
}

ul>li {
    list-style: none;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

img {
    max-width: 100%;
}

.container {
    max-width: 1140px;
    margin: 0 auto;

}

.hero {
    background: url(../img/content/hero-bg.jpg) no-repeat center/cover;
    height: 100vh;
}

.header {
    display: flex;
    align-items: center;
    padding: 25px 0px;
    justify-content: space-between;
}

.logo {
    height: 52px;
    width: 42px;
    display: block;
}

.logo__pic {}

.nav {}

.nav__list {
    display: flex;
}

.nav__item {
    margin-right: 28px;
}

.nav__item:last-child {
    margin-right: 0;
}

.nav__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.4px;
    color: rgba(255, 255, 255, 0.7);
}

.hero__content {
    max-width: 49%;
    padding-top: 186px;
}

.hero__info {
    color: white;
}

.hero__headline {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.1em;
    margin-bottom: 15px;
}

.title {
    font-weight: 500;
    font-size: 57.33px;
    line-height: 1.18;
}

.hero__title {
    margin-bottom: 30px;
}

.hero__desc {
    color: rgba(255, 255, 255, 0.7);
    font-weight: 400;
    font-size: 18px;
    line-height: 1.17;
    margin-bottom: 42px;
}

.btn {
    background-color: #F6762C;
    color: white;
    border-radius: 5px;
    padding: 15px 36px;
    font-weight: 500;
    font-size: 16px;
    border: none;
}

.food {
    padding: 115px 0px 102px;
}
.food__list {
    display: flex;
    justify-content: space-between;
}

.food__item {
    width: 23%;
    
}
.dish {
    background-color: #312F30;
    border-radius: 10px;
    overflow: hidden;
}
.dish__img-wrap {
    height: 172px;
    width: 100%;
    overflow: hidden;
}
.dish__img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.dish__desc {
    padding: 30px;
    text-align: center;
}
.dish__title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 13px;
}
.dish__text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: rgba(255, 255, 255, 0.7);
}

.paragraph {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: rgba(255, 255, 255, 0.7);
}

.order {
    background-color: #312F30;
    padding: 73px 0px 85px;
}
.order__content {
    display: flex;
}
.order__img-wrap {
}
.order__img {
    padding-right: 140px;
}
.order__info {
    max-width: 371px;
}
.order__title {
    padding-top: 90px;
    margin-bottom: 25px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 44.2px;
    line-height: 52px;
    color: #FFFFFF;
}
.order__text {
    margin-bottom: 17px;
}

.price {
    color: #F6762C;
}

.order__price {
    margin-bottom: 13px;
}
.price__new {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.15;
    letter-spacing: 0.1em;

}
.price__old {
    color: rgba(246, 118, 44, 0.5);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.1em;
    text-decoration-line: line-through;
}

.product {
    padding: 150px 0px 146px 0px;
}
.product__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 30px;
}
.product__item {
    width: 48%;
    height: 300px;
}
.product__item:nth-child(even) .offer__content{
    right: auto;
    left: 50px;
}
.offer {
    position: relative;
}
.offer__img-wrap {
    width: 100%;
    height: 100%;
}
.offer__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.offer__content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    width: 47%;
    padding-right: 20px;
}
.offer__title {
    margin-bottom: 20px;
}
.offer__text {
    margin-bottom: 10px;
}
.offer__price {
    margin-bottom: 10px;
}
.offer__price-new {
}
.offer__price-old {
}
.offer__btn {
    width: 141px;
    height: 39px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
}